{% extends 'base.html' %}
{% block title %}
    <title>
        Courses
    </title>
{% endblock %}
{% block body %}
    <div id="all_courses" class="ui list">
        {% for course in courses %}
            <div class="item {{ course.course_number }}_{{ course.group_number }}">
                <h4>{{ course.name }}</h4>
                <div class="ui label">
                     {{ course.department }}
                </div>
                <div>
                    {{ course.first_day }}
                    {% if course.second_day %}
                        {{ course.second_day }}
                    {% endif %}
                </div>
                <div>
                    {{ course.start_time }} {{ course.end_time }}
                </div>
                <div>
                    {{ course.teacher }}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}