{% extends 'base.html' %}
{% block title %}
    <title>
        Courses
    </title>
{% endblock %}
{% block body %}
    <form id="search_form" method="post" action="/courses/" class="ui form">
        {% csrf_token %}
        <input name="search_query" required>
        <button type="submit" class="ui button" name="submit">Search</button>
        <div class="ui checkbox">
            <input name="department" type="checkbox">
            <label>Department</label>
        </div>
        <div class="ui checkbox">
            <input name="teacher" type="checkbox">
            <label>Teacher</label>
        </div>
        <div class="ui checkbox">
            <input name="course" type="checkbox">
            <label>Course</label>
        </div>
    </form>
    <h2>Result</h2>
    {% if search %}
        <div id="search_result" class="ui divided relaxed list">
            {% for course in search_courses %}
                <div class="{{ course.course_number }}_{{ course.group_number }}">
                    <div class="ui label">
                        {{ course.name }}
                    </div>
                    <div class="ui label">
                        <i class="user outline icon"></i>
                        {{ course.teacher }}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <h2>Courses</h2>
    <div id="all_courses" class="ui divided relaxed list">
        {% for course in courses %}
            <div class="{{ course.course_number }}_{{ course.group_number }}">
                <h4>{{ course.name }}</h4>
                <div class="ui label">
                    <i class="building outline icon"></i>
                    {{ course.department }}
                </div>
                <div class="ui label">
                    <i class="calendar outline icon"></i>
                    {{ course.first_day }}
                    {% if course.second_day %}
                        {{ course.second_day }}
                    {% endif %}
                </div>
                <div class="ui label">
                    <i class="clock outline icon"></i>
                    {{ course.start_time.hour }}:{{ course.start_time.minute }} {{ course.end_time.hour }}:{{ course.end_time.minute }}
                </div>
                <div class="ui label">
                    <i class="user outline icon"></i>
                    {{ course.teacher }}
                </div>
            <a class="add" href="/add/{{ course.course_number }}">register</a>
            </div>
        {% endfor %}
    </div>

{% endblock %}