{% extends 'base.html' %}

{% block body %}
    <h2>Sign up</h2>
    <form method="post" id="register_form" action="/signup/">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="submit">Sign up</button>
    </form>
    <div id="errors">
        {% if username_error %}
            <p>
            نام کاربری شما در سیستم موجود است
            </p>
        {% endif %}
        {% if password_error %}
            <p>
            گذرواژه و تکرار گذرواژه یکسان نیستند
            </p>
        {% endif %}
    </div>
{% endblock %}